---
import Contactform from "../components/contactform.astro";
import Container from "../components/container.astro";
import Sectionhead from "../components/sectionhead.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Register">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Register to join us!</Fragment>
      <Fragment slot="desc">We look forward to flying with you.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Complete this registration form.</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          In order for us to serve you best, we need to know a bit about your flying history. 
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            
            <span>1734 Sanfransico, CA 93063</span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
           
              href="mailto:hello@astroshipstarter.com"
              >hello@astroshipstarter.com</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
           
              href="tel:+1 (987) 4587 899">+1 (987) 4587 899</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
