
<div class="mt-24">
  <h2 class="text-center text-slate-500">Brands we love</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <p>Fly Sussex</p>
    <p>Ozone</p>
    <p>Advance</p>
  </div>
</div>
